<p class="thanks brandon">Thank you for participating<br>in our pre-launch.</p>
<p class="compiling brandon">We are compiling rewards right now and will email<br/>coupon codes to all recipients in the next day or two</p>
<p class="go-to brandon">In the meantime, head to  <a href="http://soldapp.us/">www.soldapp.us</a></p>
<p class="again brandon">Thank You Again!</p>